/* ! Important note, all classes are prefixed with 'sheet-' */

/* ----- GLOBAL STYLES ----- */

label {
  font-size: 0.9em;
}

.sheet-main {
  background-color: white;
}

.sheet-page-header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.sheet-page-header .sheet-header {
  flex: 1;
}

.sheet-page-header input[type=text] {
  width: 100%;
  margin: 10px 5px; /* Use REM */
  font-size: 2.5rem;
  font-weight: bold;
}

.sheet-section-row {
  display: flex;
  flex-direction: row;
}

.sheet-section {
  border: 1px solid black;
  margin: 1em;
}

.sheet-section-content {
  padding: 1em;
}

.sheet-header {
  padding: 0 1em;
}

.sheet-italics {
  font-style: italic;
}

.sheet-expander {
	opacity: 0;
	width: 16px;
	height: 16px;
	position: relative;
	top: -2px;
	left: 4px;
	margin: -10px;
	cursor: pointer;
	z-index: 1;
}


.sheet-gear-exansion + span::before {
	position: relative;
	top: -3px;
	margin-left: -6px;
	border: solid 1px black;
	border-radius: 2px;
	color: white;
	background-color: rgb(35, 31, 32);
	width: 15px;
	height: 14px;
	display: inline-block;
	line-height: 14px;
	text-align: center;
	content: "◂";
}

.charsheet textarea {
  width: 95%;
  max-width: 95%;
  min-width: 95%;
  resize: vertical;
  overflow-y: auto;
  min-height: 5em;
  border: 1px solid black;
}

/* Inputs */
input[type=text] {
  background-color: transparent;
  border-style: none none solid none;
  border-color: black;
  width: calc(100% - 2px);
  border-radius: 0;
}

input[type=number] {
  background-color: transparent;
  border-style: none none solid none;
  border-color: black;
  text-align: center;
  border-radius: 0;
}

.sheet-playbook {
  text-align: right;
}

/* Remove default styling for Roll Button */
button[type=roll].sheet-blank-roll-button::before { content: ''; }


.sheet-header input[type=text] {
  color: white;
  border-style: none;
  flex: 1
  /* Set font weight and etc. */
}

.sheet-character-playbook {
  text-align: right;
}

.sheet-input-full {
  width: 100%;
}

/* Headers */
h3 {
  background-color: black;
  color: white;
  padding: 0 5px;
}

.sheet-top-section {
  width: 100%;
}

.sheet-page-header {
  display: flex;
  margin: 0 1em;
}

.sheet-header {
  flex: 1;
}

/* Navigation */
.sheet-navigation {
  margin: 1em;
}

.sheet-navigation button {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.sheet-navigation .sheet-selected {
  background-color: black;
  color: white;
}

/* ----- CHARACTER PAGE -----*/
/* Layout */
.sheet-character-upper-section {
  display: flex;
}

.sheet-character-descriptors {
  flex: 1;
}

.sheet-character-info {
  flex: 2;
}


/* ---- DESCRIPTORS ---- */
.sheet-descriptor label {
  font-size: .9em;

}

.sheet-channeler,
.sheet-scout,
.sheet-captain,
.sheet-support {
  display: none;
}

.sheet-descriptors-toggle[value="0"] ~ .sheet-channeler, 
.sheet-descriptors-toggle[value="1"] ~ .sheet-channeler, 
.sheet-descriptors-toggle[value="2"] ~ .sheet-channeler, 
.sheet-descriptors-toggle[value="3"] ~ .sheet-channeler, 
.sheet-descriptors-toggle[value="4"] ~ .sheet-scout, 
.sheet-descriptors-toggle[value="5"] ~ .sheet-captain, 
.sheet-descriptors-toggle[value="6"] ~ .sheet-support, 
.sheet-descriptors-toggle[value="7"] ~ .sheet-support {
  display: block;
}


/* Traits */
.sheet-character-traits > h3 {
  display: flex;
  justify-content: space-between;
}

.sheet-character-support {
  display: flex;
  align-items: center;
}

.sheet-traits {
  display: flex;
  justify-content: space-evenly;
}

.sheet-trait {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sheet-trait-channel {
  display: none;
}

.sheet-channel_hidden[value="false"] ~ .sheet-trait-channel {
  display: flex;
}

.sheet-trait-top {
  margin-bottom: .75em;
}

/* Dangers */
.sheet-danger {
  display: flex;
  flex-direction: row;
}

.sheet-character-danger-type {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sheet-danger-group input {
  margin-right: 1em;
}

.sheet-character-danger-input {
  flex: 3;
}

.sheet-danger-type {
  font-style: italic;
}

/* Character Lower Section */

.sheet-character-lower-section {
  display: flex;
}

.sheet-character-moves {
  flex: 2;
}

.sheet-character-moves-container {
  display: flex;
}

.sheet-move-list-container {
  flex: 1;
}

.sheet-character-lower-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ----- GEAR ----- */
.sheet-character-gear {
  height: 100%;
}

.sheet-gear-display {
  font-size: .8em;
}

input.sheet-gear-expandtoggle {
  position: absolute;
  right: 1em;
}

.sheet-gear-expansion {
  display: none;
}

input.sheet-gear-expandtoggle:checked ~ .sheet-gear-expansion {
  display: block;
}

.sheet-section-gear {
  display: flex;
  flex-direction: column;
}

.repcontainer[data-groupname="repeating_gearlist"],
.repcontainer[data-groupname="repeating_gearcheck"] {
  margin-bottom: 1.5em;
}

.repcontainer[data-groupname="repeating_gearcheck"] .repitem {
  margin-bottom: .75em;
}

.repcontrol[data-groupname="repeating_gearlist"] {
  display: none;
}
/* ----- MOVES ----- */
input.sheet-move-expandtoggle {
  position: absolute;
  right: 1em;
}

.sheet-move-expansion {
  display: none;
}

.sheet-move-expandtoggle:checked ~ .sheet-move-expansion {
  display: block;
}

.sheet-move-main {
  position: relative;
}

/* ----- ASTIR PAGE ----- */
.sheet-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sheet-flex-1 {
  flex: 1;
}

.sheet-flex-2 {
  flex: 2;
}

/* ----- From Roll20 Patterns ----- */
button {
	background-image: none;
	font-size       : 0.8em;
	text-shadow     : none;
}

button:before {display: none;}
button:hover, button:focus, button:active { font-weight : bold; }
button [type='roll'],
button [type='action'] {
  font-size: 1em;
  margin: 0px;
  padding: 1px 2px;
  border-bottom             : 0.01em solid #666;
  border-bottom-right-radius: 0.01em;
  border-color              : hsl(0, 0%, 70%);
  border-radius             : 0.25em;
  border-right              : 0.02em solid hsl(0, 0%, 20%);
  border-style              : outset;
}

/* ---- Tabs ---- */
.sheet-character-page,
.sheet-astir-page,
.sheet-misc-page {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character-page,
.sheet-tabstoggle[value="astir"] ~ div.sheet-astir-page,
.sheet-tabstoggle[value="misc"] ~ div.sheet-misc-page {
	display: block;
}

/* ---- Move Roll Template ----- */
.sheet-template-move {
  margin-left: -37px;
}

.sheet-rolltemplate-move .sheet-template-container-move {
  border: 1px solid black;
  background-color: #FEF6E1;
  padding: 5px 10px;
}

.sheet-rolltemplate-move .sheet-template-header-move {
  font-variant-caps: petite-caps;
}

.sheet-rolltemplate-move .sheet-template-divider-move {
  margin: 5px;
}

.sheet-rolltemplate-move .sheet-template-movename-move {
  font-variant-caps: petite-caps;
  font-weight: bold;
  font-style: italic;
}

.sheet-rolltemplate-move .sheet-template-row-move {
  font-variant-caps: all-petite-caps;
}

.sheet-rolltemplate-move .sheet-template-success {
  color: #5D9C67;
}

.sheet-rolltemplate-move .sheet-template-partial {
  color: #DFC647;
}


.sheet-rolltemplate-move .sheet-template-miss {
  color: #C23232;
}

